<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackwater.novel.novelmain.mapper.Test01Mapper">


    <select id="getTestString" resultType="java.lang.String">
        select * from saying limit 1
    </select>


    <select id="getTest01StringByAuthor" resultType="java.lang.String">
        select * from saying where author = #{author} limit 1
    </select>


    <select id="getTest01StringListByAuthor" resultType="java.lang.String">
        select body from saying where author = #{author} limit 2
    </select>


</mapper>